@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background: #f7f7f7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.social-header {
  display: none;
}

section {
  padding: 4em 2em;
  text-align: center;
}

label {
  display: none;
}

.nav-container {
  background: #15467a;
}

.nav-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.nav-container header .logo {
  color: #ffffff;
  font-weight: bold;
}

.nav-container header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container header ul a {
  display: block;
  padding: 0 1em;
  color: white;
}

.hero {
  background: #206aba;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero .meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 250px;
  font-weight: bold;
  color: #0a213b;
}

.hero .meet span {
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 1em;
}

.hero .scroll {
  width: 30px;
  margin-top: 2em;
  margin-bottom: 10em;
}

.hero img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7em auto;
  width: 60%;
  border-radius: 15em;
}

.hero .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0em;
}

.hero .about h2 {
  font-weight: bold;
  margin-top: 6.5em;
  color: #f2f2f2;
}

.hero .about p {
  color: #f2f2f2;
  margin-top: 0.5em;
}

.skills {
  background: #206aba;
}

.skills .skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills .skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills .skills-container ul li .icon-container.one {
  width: 50px;
}

.skills .skills-container ul li .icon-container.two {
  width: 100px;
}

.skills .skills-container ul li .icon-container.three {
  width: 60px;
}

.skills .skills-container ul li .skill-title {
  font-weight: bold;
}

.featured {
  position: relative;
}

.featured img {
  border-radius: 1em;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #2a8efa60;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #0a213b;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.contact-section {
  background: #f7f7f7;
  margin-top: -7.5em;
  padding-bottom: unset;
}

.contact-section .container h2 {
  margin-bottom: 1em;
}

.contact-section .container input, .contact-section .container textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-section .container input[type="submit"] {
  background-color: black;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-top: 2em;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

.contact-section .container .name, .contact-section .container .email, .contact-section .container .company, .contact-section .container .subject {
  margin-bottom: .3em;
}

.contact-section .container .field {
  margin-top: 1em;
}

.contact-section .container label {
  font-weight: bold;
}

.contact-section .container textarea {
  margin-top: 1em;
  height: 20em;
}

.footer {
  background: #f7f7f7;
  overflow: auto;
  padding: 1em 0;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7em;
  float: right;
  margin-right: .7em;
}

.footer ul img {
  width: 20px;
}

.footer a {
  color: black;
  font-weight: bold;
  margin-left: .7em;
}

@media only screen and (min-width: 800px) {
  .footer {
    display: none;
  }
  .hero img {
    width: 25%;
  }
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left,
  .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
    margin-bottom: 2em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
  .contact-section .container h2 {
    margin-bottom: 1.5em;
  }
  .contact-section .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-section .fields .name, .contact-section .fields .email, .contact-section .fields .company, .contact-section .fields .subject {
    padding-bottom: 2em;
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .contact-section .fields .field {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: auto;
    padding-top: .5em;
    font-weight: bold;
  }
  .contact-section .fields .field textarea {
    margin-top: 1.5em;
    height: unset;
  }
  .contact-section .fields input {
    margin: auto;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  section {
    padding: 4em;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: white;
  }
  .nav-container header {
    background: #15467a;
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    display: block;
    margin: auto;
    text-align: center;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% 1fr;
        grid-template-columns: 66% 1fr;
    background: white;
    padding: 0;
  }
  .hero .content {
    background: #206aba;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .hero .content .meet {
    margin: unset;
  }
  .hero .content .scroll {
    margin-left: 7em;
    margin-top: 1em;
  }
  .hero img {
    width: 50%;
    margin: unset;
    margin: 0 auto;
  }
  .hero .about {
    margin-top: 7.2em;
  }
  .hero .about h2 {
    color: black;
    margin-top: 2em;
  }
  .hero .about p {
    color: black;
    padding: 0 1em;
  }
  .contact-section h2 {
    margin-bottom: 1.5em;
  }
  .contact-section .fields {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 6.42em 6.42em 6.42em 6.42em 1fr;
        grid-template-rows: 6.42em 6.42em 6.42em 6.42em 1fr;
        grid-template-areas: 'name  message' 'email  message' 'company  message' 'subject message' 'input  input';
  }
  .contact-section .fields .name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: name;
  }
  .contact-section .fields .email {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: email;
  }
  .contact-section .fields .company {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: company;
  }
  .contact-section .fields .subject {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: subject;
  }
  .contact-section .fields .field {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 2;
    grid-area: message;
    width: 100%;
    margin-left: 2em;
    margin-top: .18em;
  }
  .contact-section .fields input {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: input;
  }
  .contact-section .fields label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: .5em;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    margin: auto;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
  .portfolio {
    margin-bottom: -13em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    margin: unset;
    padding: 2em 3em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
  .contact-section {
    margin-top: 5em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}
/*# sourceMappingURL=main.css.map */