@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
  background: #f7f7f7;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.social-header {
  display: none;
}

section {
  padding: 4em 2em;
  text-align: center;
}

label {
  display: none;
}

.nav-container {
  background: #15467a;

  header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
      color: #ffffff;
      font-weight: bold;
    }

    ul {
      display: flex;

      a {
        display: block;
        padding: 0 1em;
        color: white;
      }
    }
  }
}

.hero {
  background: #206aba;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;

  .meet {
    display: flex;
    margin: 0 auto;
    width: 250px;
    font-weight: bold;
    color: #0a213b;

    span {
      margin-top: 1em;
      margin-right: 0.5em;
      margin-left: 1em;
    }
  }

  .scroll {
    width: 30px;
    margin-top: 2em;
    margin-bottom: 10em;
  }

  img {
    display: flex;
    margin: -7em auto;
    width: 60%;
    border-radius: 15em;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-top: 0em;

    h2 {
      font-weight: bold;
      margin-top: 6.5em;
      color: #f2f2f2;
    }

    p {
      color: #f2f2f2;
      margin-top: 0.5em;
    }
  }
}

.skills {
  background: #206aba;

  .skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
      height: 100px;
      display: grid;
      place-content: center;
      margin: 0 auto;

      &.one {
        width: 60%;
      }
      &.two {
        width: 95px;
      }
      &.three {
        width: 70px;
      }
    }

    .skill-title {
      font-weight: bold;
    }
  }
}

.featured {
  position: relative;

  img {
    border-radius: 1em;
  }
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #2a8efa60;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #0a213b;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.contact-section {
  background: #f7f7f7;
  margin-top: -8.5em;
  padding-bottom: unset;

  .container {

    h2 {
      margin-bottom: 1em;
    }

    input, textarea {
      width: 100%;
      padding: 0.8em;
      margin-bottom: 1em;
      border-radius: 0.3em;
      border: 1px solid gray;
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color: black;
      color: #f7f7f7;
      font-weight: bold;
      font-size: 1.3em;
      border: none;
      margin-top: 2em;
      margin-bottom: 5em;
      border-radius: 5em;
      display: inline-block;
      padding: 0.8em 2em;
      width: unset;
      cursor: pointer;
    }

    .name, .email, .company, .subject {
      margin-bottom: .3em;
    }

    .field {
      margin-top: 1em;
    }

    label {
      font-weight: bold;
    }

    textarea {
      margin-top: 1em;
      height: 20em;
    }
  }
}

.footer {
  background: #f7f7f7;
  overflow: auto;
  padding: 1.2em 0;

  ul {
    display: flex;
    justify-content: space-between;
    width: 7em;
    float: right;
    margin-right: .7em;
    
    img {
      width: 20px;
    }
  }

  a {
    color: black;
    font-weight: bold;
    margin-left: .7em;
  }
}


@media only screen and (min-width: 800px) {

  .hero {
    img {
      width: 25%;
    }
  }

  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
    margin-bottom: 2em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }

  .contact-section {

    .container {
      
      h2 {
        margin-bottom: 1.5em;
      }
    }

    .fields {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .name, .email, .company, .subject {
        padding-bottom: 2em;
        flex-basis: 49%;
      }

      .field {
        flex-basis: 100%;
        margin: auto;
        padding-top: .5em;
        font-weight: bold;

        textarea {
          margin-top: 1.5em;
          height: unset;
        }

      }

      input {
        margin: auto;
      }
    }
  }
}

@media only screen and (min-width: 1050px) {

  .footer {
    display: none;
  }

  .hero {
    height: 90vh;
  }

    section {
    padding: 4em;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: white;

    header {
      background: #15467a;
      padding: 2em 2em 2em 4em;
    }
  }

  .social-header {
    display: block;
    margin: auto;
    text-align: center;

    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;

      img {
        width: 20px;
      }
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% 1fr;
    background: white;
    padding: 0;

    .content {
      background: #206aba;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }

      .meet {
        margin: unset;
      }

      .scroll {
        margin-left: 7em;
        margin-top: 1em;
      }
    }

    img {
      width: 50%;
      margin: unset;
      margin: 0 auto;
    }

    .about {
      margin-top: 7.2em;

      h2 {
        color: black;
        margin-top: 2em;
      }

      p {
        color: black;
        padding: 0 1em;
      }
    }
  }

  .skills {
  
    .skills-container ul li .icon-container {
  
      &.one {
        width: 43%;
      }
    }
  }

  .contact-section {

    h2 {
      margin-bottom: 1.5em;
    }

    .fields {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 6.5em 6.5em 6.5em 6.5em 1fr;
      grid-template-areas: 
      'name  message'
      'email  message'
      'company  message'
      'subject message'
      'input  input';
  
      .name {
        grid-area: name;
      }
  
      .email {
        grid-area: email;
      }
  
      .company {
        grid-area: company;
      }
  
      .subject {
        grid-area: subject;
      }
  
      .field {
        grid-area: message;
        width: 100%;
        margin-left: 2em;
        margin-top: .18em;
      }
  
      input {
        grid-area: input;
      }

      label {
        display: flex;
        justify-content: left;
        margin-bottom: .5em;
      }

    }
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    margin: auto;
  }
  section {
    padding: 10em 10em 4em 10em;
  }

  .hero .content {
    padding: 6em 8em 6em 10em;
  }

  .portfolio {
    margin-bottom: -13em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    margin: unset;
    padding: 2em 3em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }

  .hero .content {
    padding: 9em 20em 6em 20em;
  }

  .contact-section {
    margin-top: 5em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    transform: translate(262px, 830px);
  }
}
